Package: enigma2-plugin-skins-bundesligawqhd
Version: 1.3-r3
Section: base
Priority: optional
Architecture: all
Maintainer: stein17
Description: stein17 BundesligaWQHD Skin for openATV images
Depends: enigma2-plugin-extensions-oaweather
Source: https://github.com/stein17/Skins-for-openATV
Homepage: https://www.opena.tv/
OE: Enigma2 Skin
License: open
