Package: enigma2-plugin-skincomponents-poster-pli-hd-fullnight-mod-stein17
Version: 5.2.1
Section: base
Priority: optional
Architecture: all
Maintainer: stein17
Description: Poster-for-PLi-HD-FullNight - Mod by stein17
Source: *
Homepage: *
OE: enigma2-plugins
License: open



