Package: enigma2-plugin-skins-multibox
Version: 1.0
Section: base
Priority: optional
Architecture: all
Maintainer: stein17
Description: Skin Full HD by stein17
Depends: enigma2-plugin-skincomponents-weathercomponent, enigma2-plugin-systemplugins-weathercomponenthandler
Source: https://github.com/stein17/Skins-for-openATV
Homepage: https://www.opena.tv/forum25/
OE: Enigma2 Skin
License: open
