Package: enigma2-plugin-extensions-bundesligainstaller
Version: 1.1
Section: extra
Priority: optional
Architecture: all
Maintainer: stein17
Description: Auswahl und Installation von BundesligaFHD oder BundesligaWQHD vom openATV-Feed
Depends: enigma2
Source: https://github.com/stein17/Skins-for-openATV
Homepage: https://www.opena.tv/
OE: Enigma2 Plugin
License: open
