Package: enigma2-plugin-skins-blue-line-oe-4atv
Version: 1.5
Section: base
OE: Enigma2 Skin
License: open
Priority: optional
Architecture: all
Maintainer: stein17
Description: Skin Full HD for openATV Images by stein17
Source: https://www.opena.tv/
Homepage: https://www.opena.tv/
Depends: enigma2-plugin-skincomponents-weathercomponent, enigma2-plugin-systemplugins-weathercomponenthandler

