Package: enigma2-plugin-skins-blue-line-oct-4atv
Version: 1.0
Section: base
OE: Enigma2 Skin
License: open
Priority: optional
Architecture: all
Maintainer: stein17
Description: Skin Full HD for openATV Images by stein17
Source: https://www.opena.tv/
Homepage: https://www.opena.tv/
