Package: enigma2-plugin-skins-anadol
Version: 1.0
Section: base
Priority: optional
Architecture: all
Maintainer: stein17
Description: Skin Full HD for ATV by stein17
Depends: enigma2-plugin-skincomponents-weathercomponent, enigma2-plugin-systemplugins-weathercomponenthandler
Source: https://www.opena.tv/
Homepage: https://www.opena.tv/
OE: Enigma2 Skin
License: open
