Package: enigma2-plugin-skins-bundesligafhd
Version: 1.4-r2
Section: base
Priority: optional
Architecture: all
Maintainer: stein17
Description: stein17 BundesligaFHD Skin for openATV images
Depends: enigma2-plugin-extensions-oaweather
Source: https://github.com/stein17/Skins-for-openATV
Homepage: https://www.opena.tv/
OE: Enigma2 Skin
License: open
