Package: enigma2-plugin-extensions-animatedweather
Version: 0.3-r3
Section: extra
Priority: optional
Architecture: all
Maintainer: stein17
Description: Skinunabhängige statische und animierte Wetter-Iconsets für OAWeather
Depends: enigma2-plugin-extensions-oaweather
Source: https://github.com/stein17/Skins-for-openATV
Homepage: https://github.com/stein17/Skins-for-openATV
License: GPL-3.0-or-later
