Package: enigma2-plugin-skins-gradientfhd
Version: 1.2
Section: base
Priority: optional
Architecture: all
Maintainer: stein17
Description: Gradient FHD Skin by stein17
Depends: enigma2-plugin-extensions-oaweather
Source: https://www.opena.tv/
Homepage: https://www.opena.tv/forum25/
OE: Enigma2 Skin
License: open
