Package: enigma2-plugin-skins-blueaccents-hd
Version: 1.0
Section: base
Priority: optional
Architecture: all
Maintainer: stein17
Description: Skin HD for ATV by stein17
Source: https://www.opena.tv/
Homepage: https://www.opena.tv/forum25/
OE: Enigma2 Skin
License: open

