############| CCcam Lines |############
# C: yourhost.dyndns.org 12000 user pass

############| Newcamd Lines |############
# N: yourhost.dyndns.org 1234 user pass 01 02 03 04 05 06 07 08 09 10 11 12 13 14

############################################

############| Free Server |############
# To Enable Free Server Delete #

# https://cccam.net/free
# https://cccamia.com/free-cccam/
# https://www.cccambird2.com/freecccam.php
# https://cccamprime.com/cccam48h.php
# https://cccam-premium.com/free-cccam/
# https://cccamx.co/free-cccam
# http://cccamprima.com/free5/get2.php
# https://cccamfrei.com/free/get.php
# http://tvlivepro.com/free_cccam_48h/
# https://bosscccam.co/Test.php
